*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:black; 
}
#heading{
    font-family: "Lora", serif;
    font-size: 24px;
}
.container{
    width: 100%;
    max-width: 1320px;
    height:100%;
    margin-left:auto;
    margin-right:auto;
    padding-left: 16px;
    padding-right:16px;
}
header{
    border-bottom: 1px solid black;
    padding-top: 24px;
    padding-bottom: 24px;
    height: 80px;

}
#logo {
    font-size: 1.5rem;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}
header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    list-style: none;
}
nav a{
    color: rgb(50, 50, 50);
    font-family: "Poppins", sans-serif;
}
section{
    padding-top: 40px;
}

#section1 .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
}
#images img {
    width: 100%;
    height: 100%;
}

#images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
#image1 {
    grid-row-start: 1;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: span 1;
}

#image2 {
    grid-row-start: 2;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: span 1;
}

#image3 {
    grid-row-start: 3;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: span 1;
}

#image4 {
    grid-row-start: 4;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: span 1;
}

#mainImage {
    grid-row-start: 1;
    grid-row-end: span 4;
    grid-column-start: 2;
    grid-column-end: span 3;
}
p{
    font-family: "Poppins", sans-serif;
}


#logo,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lora", serif;
}

h1,
.h1 {
    font-size: 2.986rem;
    margin-bottom: 1.5rem;
}

h2,
.h2 {
    font-size: 2.488rem;
}

h3,
.h3 {
    font-size: 2.074rem;
}

h4,
.h4 {
    font-size: 1.728rem;
}

h5,
.h5 {
    font-size: 1.44rem;
}

h6,
.h6 {
    font-size: 1.2rem;
}

p,
.p {
    font-size: 16px;
    color: rgb(75, 73, 73);
    line-height: 165%;
}
.variants {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

.variant img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    border: none;
}

.buttonPrimary {
    background-color: black;
    color: white;
}

.buttonSecondary {
    width: 100%;
    background-color: white;
    border: 1px solid black;
}

.buttonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    margin-top: 48px;
}
.price {
    display: inline-block;
    color: gray;
    margin-bottom: 16px;
}


.productsList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;
    margin-top: 24px;
}

.product {
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.productdetails {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 16px;
}
.product img {
    width: 100%;
}














